<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>$title$ &mdash; Anderson Tavares</title>
        <link rel="author" href="/humans.txt"/>
        <link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="/css/master.css"/>
        <link rel="stylesheet" type="text/css" href="/css/syntax.css"/>
        <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
        $mathjax$
        <script type="text/javascript">
	//<![CDATA[
	  (function() {
	    var shr = document.createElement('script');
	    shr.setAttribute('data-cfasync', 'false');
	    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
	    shr.type = 'text/javascript'; shr.async = 'true';
	    shr.onload = shr.onreadystatechange = function() {
	      var rs = this.readyState;
	      if (rs && rs != 'complete' && rs != 'loaded') return;
	      var apikey = 'a90fae8b3b87717b1a083a5abb334088';
	      try { Shareaholic.init(apikey); } catch (e) {}
	    };
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(shr, s);
	  })();
	//]]>
	</script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-5512691-10', 'usp.br');
	  ga('send', 'pageview');

	</script>
    </head>
    <body>
	
        <header class="site-header">
            <h1><a href="/index.html">Anderson Tavares</a></h1>
            <nav class="site-nav">
                <a href="/index.html"><i class="icon-home"/> Início</a>
                <a href="/research.html"><i class="icon-lightbulb"/> Pesquisa</a>
                <a href="/projects.html"><i class="icon-book"/> Projetos</a>
                <a href="/archive.html"><i class="icon-folder-open-alt"/> Posts</a>
            </nav>
        </header>
        <section class="content">
        $body$
        </section>
        <footer class="site-footer">
            <p>
                <a href="http://vision.ime.usp.br/~acmt/hakyll">Anderson Carlos</a> -
                Usando <a href="http://jaspervdj.be/hakyll/index.html">Hakyll</a> e 
                <a href="https://github.com/jtanguy/julien.jhome.fr">jtanguy</a> -
                <a href="http://github.com/anderflash/acmthakyll">Código Fonte</a> -
                <a href="http://vision.ime.usp.br/~acmt/hakyll/atom.xml">Feed <i class="icon-rss"/></a>
            </p>
            <p>
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR">
                <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png"></a>
            <br>
            Este obra foi licenciado sob uma Licença
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR">Creative Commons Atribuição 3.0 Não Adaptada</a>.
            </p>
        </footer>
    </body>
</html>
